p Edit Activity Group #{data[0].name}
form
  input(type="text" name="name" value=data[0].name)
  input(type="text" name="handle" value=data[0].handle)
  button(hx-post="/actions/activity_group/update" hx-vars="id:"+data[0].id hx-swap="none") Update
form
  button(hx-post="/actions/activity_group/archive" hx-vars="id:"+data[0].id hx-swap="none") Archive
button(hx-get="/admin/components/activities/group/edit_btn/q/activity_group?id="+data[0].id hx-target="#activityGroupEdit" hx-swap="innerHTML") Close
