div 
  nav
    ul
      li(style="display: inline-block;")
        a(href="/admin/entities") Entities
      li(style="display: inline-block;")
        span &nbsp;|&nbsp;
        a(href="/admin/fields") Fields
      li(style="display: inline-block;")
        span &nbsp;|&nbsp;
        a(href="/admin/activities") Activities
      li(style="display: inline-block;")
        span &nbsp;|&nbsp;
        a(href="/admin/tags") Tags
        
