select(class="inline-block" name=handle+"__evaluator")
  option(value="equalTo" selected) Match exactly
  option(value="greaterThan") After
  option(value="greaterThanOrEqualTo") After or during
  option(value="lessThan") Before
  option(value="lessThanOrEqualTo") Before or during
input(class="inline-block" type="datetime-local" name=handle)
