select(class="inline-block" name=handle+"__evaluator")
  option(value="equalTo" selected) =
  option(value="greaterThan") >
  option(value="greaterThanOrEqualTo") >=
  option(value="lessThan") <
  option(value="lessThanOrEqualTo") <=
input(class="inline-block" type="number" name=handle)
