if field.settings.limit && field.settings.limit != 0
  input(class="inline-block" type="text" value="" name=handle maxlength=field.settings.limit)
else
  input(class="inline-block" type="text" value="" name=handle)
