- var access = locals.currentUser.access;
div
  if access.job && access.job.access
    a(href="/jobs/_list/job") Job Search 
  if access.director && access.director.access
    a(href="/directors/_list/director_of_surgical_services") Director Search 
  if access.hospital && access.hospital.access
    a(href="/hospital/_list/hospital") Hospital Search  
  if access.client_partner && access.client_partner.userGroups.client_partner
    a(href="/palindrome") Palindrome 
