if tags && tags.length > 0
  - var handle = requestQuery.fieldHandle
  div(class="tags")
    for tag in tags
      div(class="tags-tag inline-block")
        input(type="hidden" class="advanced-search-tag-assoc" name=handle value=tag.id)
        span(class="padding-h") #{tag.handle}
        span(class="tags-tag-remove" _="on click wait 200ms then remove me.parentElement") X
