extends ./_layout.pug
append content
  script(src="/js/vendor/grid.min.js")
  link(href="/css/vendor/mermaid.min.css" rel="stylesheet")
  link(href="/css/grid.css" rel="stylesheet")
  link(href="/css/search.css" rel="stylesheet")
  script(src="/js/list.js")
  div
    h2 Directors
    div(id="directorsListView"
      hx-get="/components/search/list/results/_list/director_of_surgical_services"
      hx-trigger="load, sse:content"
      hx-swap="innerHTML"
      hx-target="#directorsListView")
    div(id="listResultsQuickview")
