- var access = locals.currentUser.access;
div(class="header")
  div(class="golden-ratio-fill--3-16")
    img(class="header-logo" src="/icons/wp-logo-only.png")
  div(class="header-nav pure-u-5-8")
    include ./items.pug
  div(class="golden-ratio-fill--3-16")
